body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    flex-shrink: 0;
    background-color: #1f2937;
    color: #ffffff;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.right,
.left{
    display: flex;
    align-items: center;
    gap: 16px;  
}

.right {
    justify-content: flex-end;
   
    
}

.right_links{
    display: flex;
    gap: 20px;
    justify-content: flex-end;

}

.logo {
    display: flex;
    padding-left: 30vh;
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    padding-right: 35vh;
    gap: 16px;
}

a{ 
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.first {
    background-color: #1f2937;
    display: flex;

}

.dos{
    background-color: gold;
}

.tre{
    background-color: blue;
}

.cuatro{
    background-color: blueviolet;
}

.footer {
    margin-top: auto;
    display: flex;
    background-color: #1f2937;
}
